{
 :jsonrpc-host "localhost"
 :jsonrpc-port 23120
 :jsonrpc-endpoint "/rpc"
 :overlay-color-base "papayawhip"
 :overlay-color-modified "gold"
 
 :indexer-host "localhost"
 :indexer-port 23121
 :indexer-paths ["./src/xcl/indexer"
                 "/tmp/foobar/"]
 }
